<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<% if params[:controller] == 'work_packages' && params[:action] == 'show' %>

<style type="text/css">
  table#todo-table{
    width: 100%;
  }

  .green-buttun{
    background: #35c53f;
    color: white;
    border-color: #35c53f;
  }

  .notification-box{
    background-color: #d8fdd1;
    border-color: #35c53f;
    padding: 0.625rem 2.1875rem 0.625rem 2.1875rem;
    margin-bottom: 0.1875rem;
    color: #333;
    background: #e3f5ff;
    padding: 0.625rem;
    border-radius: 0.125rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem #dddddd;
    border: 0.0625rem solid #8fc0db;
    
  }

</style>
<br />
<table class="table table-bordered" id="todo-table">
  <thead>
    <tr>
      <td></td>
      <td>#</td>
      <td></td>
      <td>To Do</td>
      <td>Work</td>
      <td>Duration</td>
      <td>Start / End</td>
      <td>Assigned To</td>
      <td>Pred.</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @work_package_todos.each do |todo| %>
      <%= render partial: 'open_project_to_do/pmo_todos/todo_table_row', locals: {todo: todo} %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  function updateTodoOrder(){
    var data = new Array();
    jQuery("tr.todo-row").each(function(){
    if(jQuery.inArray(jQuery(this).attr("data-todo-id")) == -1) // check if not in array
       data.push(jQuery(this).attr("data-todo-id"))
    })
    alert(data)
  }
  jQuery("#todo-table tbody").sortable(function(){
    change: updateTodoOrder()
  })
  

</script>

<h3>New Todo</h3>
<%= form_tag(open_project_to_do.create_todo_url, method: 'post', id: 'new-todo') %>
  <%= text_field_tag 'pmo_todo[text]', '', placeholder: 'To do' %>
  <br />
  <%= number_field_tag 'pmo_todo[work]', '', placeholder: 'Work', style: 'width: 25%; float: left;' %>
  <%= select_tag 'pmo_todo[work_unit]', options_for_select(['Hours', 'Days', 'Weeks', 'Months']), include_blank: 'Work Unit', style: 'width: 73.5%; float: left; margin-left: 10px;' %>
  <br /><br />
  <%= number_field_tag 'pmo_todo[duration]', '', placeholder: 'Duration', style: 'width: 25%; float: left;' %>
  <%= select_tag 'pmo_todo[duration_unit]', options_for_select(['Hours', 'Days', 'Weeks', 'Months']), include_blank: 'Duration Unit', style: 'width: 73.5%; float: left; margin-left: 10px;' %>
  <br /><br />
  
  <%= select_tag 'pmo_todo[assignee_id]', options_from_collection_for_select(User.all, "id", "name") %>
  <%= hidden_field_tag 'pmo_todo[work_package_id]', @work_package.id %>
  <%= hidden_field_tag 'pmo_todo[line_id]', (@work_package_todos.last.present? ? (@work_package_todos.last.line_id.to_i + 1) : 0 + 1) %>
  
  <br />
  <%= submit_tag 'Submit', class: 'green-buttun' %> 
<% end %>

